<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smart Talent Pool Manager</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container py-5">

    <h1 class="text-center text-primary fw-bold mb-5">
        Smart Talent Pool Manager
    </h1>

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

            {% for category, message in messages %}

                <div class="alert alert-{{ category }} alert-dismissible fade show">

                    {{ message }}

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert">
                    </button>

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    <div class="card shadow-sm mb-5">

        <div class="card-header bg-info text-white">

            <h4 class="mb-0">
                Talent Pool Statistics
            </h4>

        </div>

        <div class="card-body">

            <div class="row text-center">

                <div class="col-md-3">

                    <h5>Total Candidates</h5>

                    <h3>{{ total_candidates }}</h3>

                </div>

                <div class="col-md-3">

                    <h5>Highest Score</h5>

                    <h3>

                    {% if highest_score == 0 %}

                        <span class="badge bg-warning text-dark">
                            Pending
                        </span>

                    {% else %}

                        {{ highest_score }}

                    {% endif %}

                    </h3>

                </div>

                <div class="col-md-3">

                    <h5>Average Score</h5>

                    <h3>

                    {% if average_score == 0 %}

                        <span class="badge bg-warning text-dark">
                            Pending
                        </span>

                    {% else %}

                        {{ "%.2f"|format(average_score) }}

                    {% endif %}

                    </h3>

                </div>

                <div class="col-md-3">

                    <h5>Lowest Score</h5>

                    <h3>

                    {% if lowest_score == 0 %}

                        <span class="badge bg-warning text-dark">
                            Pending
                        </span>

                    {% else %}

                        {{ lowest_score }}

                    {% endif %}

                    </h3>

                </div>

            </div>

        </div>

    </div>

    <!-- Add Candidate Card -->

    <div class="card shadow-sm mb-5">

        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Add Candidate</h4>
        </div>

        <div class="card-body">

            <form action="/add" method="POST" enctype="multipart/form-data">

                <div class="mb-3">

                    <label class="form-label">Name</label>

                    <input
                        type="text"
                        name="name"
                        class="form-control"
                        placeholder="Enter candidate name"
                        required>

                </div>

                <div class="mb-4">

                    <label class="form-label">
                        Resume (PDF)
                    </label>

                    <input
                        type="file"
                        name="resume"
                        class="form-control"
                        accept=".pdf">

                </div>
                
                <button
                    type="submit"
                    class="btn btn-primary rounded-pill px-4">

                    Add Candidate

                </button>

            </form>

        </div>

    </div>

        <div class="card shadow-sm mb-4">

        <div class="card-header bg-success text-white">

            <h4 class="mb-0">
                Search Candidates
            </h4>

        </div>

        <div class="card-body">

            <form action="/" method="GET">

                <div class="row">

                    <div class="col-md-10">

                        <input
                            type="text"
                            name="search"
                            value="{{ search }}"
                            class="form-control"
                            placeholder="AI Search (Example: Backend Developer, Machine Learning, React Developer...)">

                    </div>

                    <div class="col-md-2">

                        <button
                            class="btn btn-success w-100">

                            Search

                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>

    <!-- Candidate Database Card -->

    <div class="card shadow-sm">

        <div class="card-header bg-dark text-white">

            <h4 class="mb-0">
                Candidate Database
            </h4>

        </div>

        <div class="card-body">

            <table class="table table-striped table-hover table-bordered align-middle">

                <thead class="table-dark">

                    <tr>

                        <th class="text-center">ID</th>

                        <th>Name</th>

                        <th>Skills</th>

                        <th class="text-center">AI Match(%)</th>

                        <th class="text-center">Score</th>

                        <th class="text-center">Resume</th>
                        
                        <th class="text-center">Action</th>

                    </tr>

                </thead>

                <tbody>

                    {% for candidate in candidates %}

                    <tr>

                        <td class="text-center">
                            {{ candidate[0] }}
                        </td>

                        <td>
                            {{ candidate[1] }}
                        </td>

                        <td>
                            {{ candidate[2] }}
                        </td>

                        <td class="text-center">

                            {% if candidate[0] in match_scores %}

                                {{ match_scores[candidate[0]] }}%

                            {% else %}

                                -

                            {% endif %}

                        </td>
                        
                        <td class="text-center fw-bold">

                            {% if candidate[3] == 0 %}

                                <span class="badge bg-warning text-dark">
                                    Pending
                                </span>

                            {% else %}

                                {{ candidate[3] }}

                            {% endif %}

                        </td>

                        <td class="text-center">

                        {% if candidate[5] %}

                        <a
                        href="/resume/{{ candidate[5] }}"
                        target="_blank"
                        class="btn btn-primary btn-sm">

                        View Resume 

                        </a>

                        {% else %}

                        -

                        {% endif %}

                        </td>
                        
                        <td class="text-center">

                            <a
                                href="/delete/{{ candidate[0] }}"
                                onclick="return confirm('Are you sure you want to delete this candidate?')">

                                <button
                                    class="btn btn-danger btn-sm rounded-pill">

                                    Delete

                                </button>

                            </a>

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>